.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 22px;
  min-width: 0;
  padding: 15px 15px 20px;
}
